*{
    padding:0;
    margin:0;
}
html {
    scroll-behavior: smooth;
  }
body{
    overflow-x: hidden;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.myContainer{
    width:80%;
    margin:0 auto;
    @include media(xxlgDevice){
        width:1152px;
    }
}
.myContainerMini{
    width:1006px;
    margin:0 auto;
}
p{
    margin-bottom: 0;
}

.sticky {
  position: fixed!important;
  top: 0;
  width: 100%;
  background:#fff;
}

.myheadline h1{
    @include myfont(60px,600,$main_font);
    text-align: center;
    margin-top: 40px;
    margin-bottom: 130px;
}