*{
    padding:0;
    margin:0;
}
html {
    scroll-behavior: smooth;
  }
body{
    overflow-x: hidden;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.myContainer{
    width:80%;
    margin:0 auto;
    @include media(xxlgDevice){
        width:1152px;
    }
}
.myContainerMini{
    width:1006px;
    margin:0 auto;
}
p{
    margin-bottom: 0;
}

.sticky {
  position: fixed!important;
  top: 0;
  width: 100%;
  z-index: 1030;
  background:#fff;
  border-bottom: 1px solid rgba(0,0,0,0.5);
}

.myheadline h1{
    @include myfont(60px,600,$main_font);
    text-align: center;
    margin-top: 40px;
    margin-bottom: 130px;
}

.headlinemargin{
    margin-top: 100px;
}

.scrolltop{
    position: fixed;
    width: 50px;
    right:20px;
    bottom: 40px;
    height: 50px;
    font-size: 3rem;
    z-index: 1;
    cursor: pointer;
    color: #ED1C24;
    transition:0.4s;
    opacity: 0;
    visibility: hidden;
}
.visibleclass{
    opacity: 1;
    visibility: visible;
}